<h1>投稿一覧</h1>
<h2>レシピ</h2>
<%= @recipe.user.recipe_title %>
<h3>製作者</h3>
<% @recipe.each do |recipe| %>
<%= image_tag attachment_url(recipe, :image, :fill, 100, 100) %>
<%= recipe.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
<%= recipe.user.name %>
<%= link_to recipe_title (recipe.user) do %>
