<table class="table table-hover table-inverse">
  <% if @range == '2' %>
  <h1>Cooking search for</h1>
  <thead>
    <tr>
       <th>レシピタイトル</th>
       <th>ユーザー</th>
       <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
   <tr>
    <% @recipe.each do |recipe| %>
    <td><h3><%= link_to recipe.recipe_title,recipe_path(recipe) %><h3></td>
    <td><%= attachment_image_tag recipe, :image, size: "130x130" %></td>
    <td><%= recipe.user.name %></td>
   </tr>
  </tbody>
   <% end %>

 <% else %>
  <h1>User search for</h1>
  <thead>
     <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
     </tr>
   </thead>
   <tbody>
    <% @user.each do |user| %>
     <tr>
      <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg") %></td>
      <td><%= user.name%></td>
      <td><%= link_to "Show", user, class: "user_#{user.id}" %></td>
     </tr>
    <% end %>
   </tbody>
   <% end %>
 </table>